@import 'mixins.styl'

red=#F32323
light-blue=#285a9e
blue=#0a2345
white=#fff

body
  font-family 'Montserrat', sans-serif
  background #0a2345 /* Old browsers */
  background -moz-linear-gradient(top,  #0a2345 0%, #020104 100%)/* FF3.6-15 */
  background -webkit-linear-gradient(top,  #0a2345 0%,#020104 100%) /* Chrome10-25,Safari5.1-6 */
  background linear-gradient(to bottom,  #0a2345 0%,#020104 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */


.flex-container
  display flex

.jumbotron,.headphones-content,.features
  background transparent
  h2
    color white
    font-size 48px
    span
      color light-blue
  p
    color #2e66b2
    font-size 18px
    line-height 70px
    padding-bottom 75px

.welcome
  padding 200px 0px 0px
  .navbar
    padding-top 25px

.headphones
  padding-top 100px
  img
    margin-left -2.5rem
  .headphones-content
    padding-left 30px
    p
      color #66778e
      line-height 36px
      font-size 14px
    .btn-lg
      padding 15px 50px


.btn
  padding 15px 30px
  border-radius 25px
  background transparent none repeat scroll 0% 0%
  &:hover
    background-color red

.navbar-default
  background-color transparent
  border-color transparent

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover
  background-color transparent

.navbar-default .navbar-toggle
  border-color transparent
  padding-top 35px

.navbar-default .navbar-toggle .icon-bar
  background-color light-blue

.navbar-default .navbar-collapse, .navbar-default .navbar-form
  border-color blue

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover
  color red

.navbar-default .navbar-nav>li>a
  color white

.music-app
  background transparent url("../img/music-app.png") no-repeat scroll 0% 0%

.grow
  transition all .4s ease-in-out
  &:hover
    transform scale(1.1)

ul
  list-style none
  padding-left 0

.features
  .features-list
    h3
      font-size 24px
      color white
    p
      color #66778e
      line-height 36px
      font-size 14px
    .icon
      width 54px
      height 54px
    .icon-speaker
      content url("../img/speaker.png")
    .icon-activity
      content url("../img/activity.png")
    .icon-headphones
      content url("../img/headphones.png")
    .icon-cd
      content url("../img/cd.png")
  h2
    padding 150px 0

.power
  background transparent url("../img/power-back.png")  no-repeat 100% 100%/contain
  padding 100px 0
  margin 70px 0
  .icon-power
    content url("../img/power.png")
  h3
  font-size 24px
  color white
  p
    color #66778e
    line-height 36px
    font-size 14px

.slider
  background rgba(6, 20, 37, 0.5)
  .back-carousel
    padding 100px 0px

    background: url("../img/slider-back.png")
    .text-carousel
      color #66778e
      font-size 24px
    .text-author
      padding-top 30px
      color #66778e
      font-size 14px
    span
      color #213a61
    .carousel-caption
      bottom 50px

p.text-author:before
  content url("../img/wasik.png")
  display inline-block
  width 38px
  height 38px

.discover
  padding-top 100px
  h3
    font-size 36px
    color white
    padding-bottom 30px
  p
    color #66778e
    font-size 14px
    padding-bottom 115px
    line-height 36px
  .btn
    margin 80px 0 150px

footer
  background #02050A none repeat scroll 0% 0%
  .flex-container
    border-top 1px solid #393A3C
    padding 50px 0 95px
  li
    padding-right 15px
    font-size 14px
  a,p
    color #14396a

.carousel-inner>.item>a>img, .carousel-inner>.item>img
  height 300px
  visibility hidden


.carousel-indicators
  li
    background-color transparent
    border 2px solid #213a61
    width 12px
    height 12px
    margin 0

.carousel-indicators
  .active
    background-color #335a95
    border none

.animate-top
  transition-duration 0.3s
  transition-property transform
  &:hover
    -webkit-transform translateY(-50px)
    transform translateY(-50px)


.shadow
  opacity 0.6
  box-shadow 0 0 120px #051a37
/*
@media screen and (max-width: 991px) {
  .flex-container{
    flex-wrap wrap
  }
  .client-item{
    padding 20px 0
    margin 0 auto
  }
  .footer .col-md-2{
    margin 0 auto
  }

  .latest-works .works-item img{

    width 100%
  }

  .latest-works .layer {

    min-height auto
  }

  .clients .client-item {

    width auto
    height auto
  }
}*/

@media (min-width: 768px) {
  .container {
    width 750px
  }
}
@media (min-width: 992px) {
  .container {
    width 970px
  }
}
@media (min-width: 1200px) {
  .container {
    width 1170px
  }
}

@media (max-width: 1200px) {
img.grow, .discover img {
  width 100%
  max-width 300px
  margin-bottom 35px
}

.iphone-center:after {
    display none
  }

.iphone-center img {
  max-width 250px
}
}
@media (max-width: 991px) {

  footer .flex-container {

    flex-wrap wrap
  }


  footer li, footer p, footer ul  {

    flex-basis 100%!important
    text-align center !important
  }

  .slider .back-carousel .text-carousel {
    font-size 12px
  }

  p.text-author:before {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .iphone-center:after{
    display none
  }


  .headphones .headphones-content, .power, .features, .btn {
    text-align center
  }

  .iphone-center {

    margin-bottom 40px
  }

  .discover img {
    display block
    margin 0 auto
  }

}

@media (min-width: 768px) {

  .navbar-collapse.collapse {
    display none!important
    overflow auto!important
  }

  .navbar-toggle, .collapse.in {

    display block!important
  }

  .navbar-collapse.in{

    overflow-y visible!important
  }

  .navbar-header, .navbar-nav, .navbar-nav>li {
    float none
  }


}

.iphone-center
  position relative
  img
    position relative
    z-index 6
  &:after
    position absolute
    bottom -85px
    left -50%
    width 798px
    height 126px
    content url(../img/layer.png)
    z-index 5