body {
  font-family: 'Montserrat', sans-serif;
  background: #0a2345 /* Old browsers */;
  background: -moz-linear-gradient(top, #0a2345 0%, #020104 100%) /* FF3.6-15 */;
  background: -webkit-linear-gradient(top, #0a2345 0%, #020104 100%) /* Chrome10-25,Safari5.1-6 */;
  background: linear-gradient(to bottom, #0a2345 0%, #020104 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */;
}
.flex-container {
  display: flex;
}
.jumbotron,
.headphones-content,
.features {
  background: transparent;
}
.jumbotron h2,
.headphones-content h2,
.features h2 {
  color: #fff;
  font-size: 48px;
}
.jumbotron h2 span,
.headphones-content h2 span,
.features h2 span {
  color: #285a9e;
}
.jumbotron p,
.headphones-content p,
.features p {
  color: #2e66b2;
  font-size: 18px;
  line-height: 70px;
  padding-bottom: 75px;
}
.welcome {
  padding: 200px 0px 0px;
}
.welcome .navbar {
  padding-top: 25px;
}
.headphones {
  padding-top: 100px;
}
.headphones img {
  margin-left: -2.5rem;
}
.headphones .headphones-content {
  padding-left: 30px;
}
.headphones .headphones-content p {
  color: #66778e;
  line-height: 36px;
  font-size: 14px;
}
.headphones .headphones-content .btn-lg {
  padding: 15px 50px;
}
.btn {
  padding: 15px 30px;
  border-radius: 25px;
  background: transparent none repeat scroll 0% 0%;
}
.btn:hover {
  background-color: #f32323;
}
.navbar-default {
  background-color: transparent;
  border-color: transparent;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
  padding-top: 35px;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #285a9e;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #0a2345;
}
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
  color: #f32323;
}
.navbar-default .navbar-nav>li>a {
  color: #fff;
}
.music-app {
  background: transparent url("../img/music-app.png") no-repeat scroll 0% 0%;
}
.grow {
  transition: all 0.4s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
}
ul {
  list-style: none;
  padding-left: 0;
}
.features .features-list h3 {
  font-size: 24px;
  color: #fff;
}
.features .features-list p {
  color: #66778e;
  line-height: 36px;
  font-size: 14px;
}
.features .features-list .icon {
  width: 54px;
  height: 54px;
}
.features .features-list .icon-speaker {
  content: url("../img/speaker.png");
}
.features .features-list .icon-activity {
  content: url("../img/activity.png");
}
.features .features-list .icon-headphones {
  content: url("../img/headphones.png");
}
.features .features-list .icon-cd {
  content: url("../img/cd.png");
}
.features h2 {
  padding: 150px 0;
}
.power {
  background: transparent url("../img/power-back.png") no-repeat 100% 100%/contain;
  padding: 100px 0;
  margin: 70px 0;
h3
  font-size: 24px;
  color: #fff;
}
.power .icon-power {
  content: url("../img/power.png");
}
.power p {
  color: #66778e;
  line-height: 36px;
  font-size: 14px;
}
.slider {
  background: rgba(6,20,37,0.5);
}
.slider .back-carousel {
  padding: 100px 0px;
  background: url("../img/slider-back.png");
}
.slider .back-carousel .text-carousel {
  color: #66778e;
  font-size: 24px;
}
.slider .back-carousel .text-author {
  padding-top: 30px;
  color: #66778e;
  font-size: 14px;
}
.slider .back-carousel span {
  color: #213a61;
}
.slider .back-carousel .carousel-caption {
  bottom: 50px;
}
p.text-author:before {
  content: url("../img/wasik.png");
  display: inline-block;
  width: 38px;
  height: 38px;
}
.discover {
  padding-top: 100px;
}
.discover h3 {
  font-size: 36px;
  color: #fff;
  padding-bottom: 30px;
}
.discover p {
  color: #66778e;
  font-size: 14px;
  padding-bottom: 115px;
  line-height: 36px;
}
.discover .btn {
  margin: 80px 0 150px;
}
footer {
  background: #02050a none repeat scroll 0% 0%;
}
footer .flex-container {
  border-top: 1px solid #393a3c;
  padding: 50px 0 95px;
}
footer li {
  padding-right: 15px;
  font-size: 14px;
}
footer a,
footer p {
  color: #14396a;
}
.carousel-inner>.item>a>img,
.carousel-inner>.item>img {
  height: 300px;
  visibility: hidden;
}
.carousel-indicators li {
  background-color: transparent;
  border: 2px solid #213a61;
  width: 12px;
  height: 12px;
  margin: 0;
}
.carousel-indicators .active {
  background-color: #335a95;
  border: none;
}
.animate-top {
  transition-duration: 0.3s;
  transition-property: transform;
}
.animate-top:hover {
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px);
}
.shadow {
  opacity: 0.6;
  box-shadow: 0 0 120px #051a37;
}
/*
@media screen and (max-width: 991px) {
  .flex-container{
    flex-wrap wrap
  }
  .client-item{
    padding 20px 0
    margin 0 auto
  }
  .footer .col-md-2{
    margin 0 auto
  }

  .latest-works .works-item img{

    width 100%
  }

  .latest-works .layer {

    min-height auto
  }

  .clients .client-item {

    width auto
    height auto
  }
}*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (max-width: 1200px) {
  img.grow,
  .discover img {
    width: 100%;
    max-width: 300px;
    margin-bottom: 35px;
  }
  .iphone-center:after {
    display: none;
  }
  .iphone-center img {
    max-width: 250px;
  }
}
@media (max-width: 991px) {
  footer .flex-container {
    flex-wrap: wrap;
  }
  footer li,
  footer p,
  footer ul {
    flex-basis: 100% !important;
    text-align: center !important;
  }
  .slider .back-carousel .text-carousel {
    font-size: 12px;
  }
  p.text-author:before {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .iphone-center:after {
    display: none;
  }
  .headphones .headphones-content,
  .power,
  .features,
  .btn {
    text-align: center;
  }
  .iphone-center {
    margin-bottom: 40px;
  }
  .discover img {
    display: block;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .navbar-collapse.collapse {
    display: none !important;
    overflow: auto !important;
  }
  .navbar-toggle,
  .collapse.in {
    display: block !important;
  }
  .navbar-collapse.in {
    overflow-y: visible !important;
  }
  .navbar-header,
  .navbar-nav,
  .navbar-nav>li {
    float: none;
  }
}
.iphone-center {
  position: relative;
}
.iphone-center img {
  position: relative;
  z-index: 6;
}
.iphone-center:after {
  position: absolute;
  bottom: -85px;
  left: -50%;
  width: 798px;
  height: 126px;
  content: url("../img/layer.png");
  z-index: 5;
}
